<style>
.pane1-container {
  background: #000;
  color: #777;
}
.pane2-container {
  background: #DDD;
  color: #666;
}
.central-slab {
  margin-left: auto;
  margin-right: auto;
  padding: 50px 30px 30px 30px;
  width: 900px;
}
#jolecule-embed {
  margin-left: 50px; 
  float: right; 
  width: 370px; 
  height: 300px;
}
pre {
  background: #002;
  color: #555;
  border: 1px solid #224;
  padding: 5px 15px;
  letter-spacing: 0em;
  line-height: 1.25em;
  font-size: 12px;
  overflow-x: scroll;
}
p {
  width: 500px;     
}

@media screen and (max-width: 1000px) {
  .central-slab {
    width: 100%;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h1 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 0px;
    line-height: 1.5em;
    margin-bottom: 0px;
  }
  h2 {
    font-size: 25px;
    line-height: 1.5em;
    padding-top: 5px;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 0px;
  }
  #jolecule-embed {
    margin: 0;
    float: none;
    width: 100%;
  }
  p { 
    width: 100%;
  }
}

</style>

<div class="pane1-container"><div class="central-slab">

  <h1>Embedding Jolecule Widgets</h1>

  {{extra_html}}

  {{embed_js}}

  <p>Jolecule has been designed to be easily embeddable on webpages on external websites. 
      
  <p></p>The modules are self-contained with a clean API. You can even put multiple Jolecule widgets on the same page.
      
  <p>The Jolecule widget adapts to the size of a parent &lt;div&gt;. In the following snippet, a default id of 'jolecule-embed' is used for the parent &lt;div&gt;, but this can be changed. The &lt;div&gt; can be resized to your specification, whether directly in the tag, or through CSS styles.

  <p>To insert the widget into your page, add the following snippet into your HTML. This will show the protein '{{pdb_id}}' as shown in the Jolecule widget to the right.

  <h2>HTML Code Snippet</h2>

    <div id="insert-code"><pre>
{{escaped_embed_js}}</pre>
  </div>
    
  <p>The included files are:
    <ul>
      <li>jolecule.js  
      <li>jolecule.css 
      <li>jquery-2.0.3.js 
      <li>{{data_server}} embeds the protein coordinates and views
    </ul>

  <p>The parameters in the calling function can be changed. For instance, animation looping can be turned on or off. The text for each view can be hidden or shown.</p>
</div></div>

</div>
