
<div id="jolecule-sequence-container"></div>
<div id="jolecule-protein-container"></div>
<div id="jolecule-views-container"></div>

<style>
  body {
      overflow: hidden;
  }
  #jolecule-container {
      height: 100%;
  }
  #jolecule-body {
      overflow: hidden;
      -webkit-flex: 1 1 100%;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      width: auto;
      margin: 0;
      border-spacing: 0;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
  }
  #jolecule-sequence-container {
      background-color: #222;
      border-right: 3px solid #000;
      padding-bottom: 0px;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
  }
  #jolecule-sequence {
      flex: 1;
      -webkit-flex: 1;
      padding-left: 10px;
      padding-right: 30px;
      overflow-x: hidden;
      overflow-y: auto;
      font-family: 'Andale Mono', monospace;
      font-size: 12px;
      line-height: 1.1em;
  }
  .jolecule-residue {
      padding-left: 5px;
      padding-right: 5px;
  }
  #jolecule-protein-container {
      min-height: 0;
      min-width: 0;
      flex: 1;
      -webkit-flex: 1;
      margin: 0;
      padding: 0;
      font-size: 14px;
      line-height: 1.5em;
      letter-spacing: 0.1em;
      color: #666;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
  }
  #jolecule-views-container {
      background-color: #222;
      border-left: 3px solid #000;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
  }
  #jolecule-views {
      width: 300px;
      flex: 1;
      -webkit-flex: 1;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-left: 10px;
      padding-right: 30px;
  }

  @media screen and (max-width: 1200px) {
      #jolecule-sequence-container {
          border: 0;
          width: 0;
          height: 0;
          padding: 0;
          visibility: collapse;
      }
  }

  @media screen and (max-width: 700px) {
      #jolecule-sequence-container,
      #jolecule-views-container,
      #jolecule-views {
          border: 0;
          width: 0;
          height: 0;
          padding: 0;
          visibility: collapse;
      }
  }
</style>

<script type="text/javascript" src="/js/jquery-2.0.3.js"></script>
<script type="text/javascript" src="/js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/js/three.min.js"></script> 
<script type="text/javascript" src="/js/underscore-min.js"></script> 
<script type="text/javascript" src="/js/jolecule.js"></script> 

<script>
  user = '{{user_nickname}}';
  $(document).attr("title", "jolecule - pdb:{{pdb_id}}");
  $(document).ready(
    function() {
      register_global_animation_loop(
        new FullPageJolecule(
          '#jolecule-protein-container', 
          '#jolecule-sequence-container', 
          '#jolecule-views-container', 
          jolecule_server('{{pdb_id}}'), 
          '{{pdb_id}}')
      );
    }
  );
</script>
