.jolecule-button {
  border-radius: 3px;
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 10px 7px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 1.5em;
  font-weight: normal;
  letter-spacing: 0.1em;
  cursor: pointer;
  box-sizing: content-box;
  height: 20px;
  user-select: none;
  vertical-align: middle;
}
.jolecule-button,
a.jolecule-button input a,
a.jolecule-button,
a.jolecule-button:link,
a.jolecule-button:visited,
a.jolecule-button:hover {
  background-color: #999;
  color: #333;
  text-decoration: none;
}
.jolecule-small-button,
a.jolecule-small-button,
a.jolecule-small-button:visited {
  background-color: #999;
  color: #333;
  text-decoration: none;
}
.jolecule-button-toggle-on,
a.jolecule-button-toggle-on:link,
a.jolecule-button-toggle-on:visited {
  background-color: #777;
  color: #333;
}
.jolecule-small-button,
a.jolecule-small-button,
a.jolecule-small-button:visited {
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  margin-right: 2px;
  margin-bottom: 5px;
  padding: 6px 8px;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 15px;
  cursor: pointer;
}
.jolecule-button:active,
a.jolecule-button:active,
a.jolecule-small-button:active,
a.jolecule-large-button:active {
  background-color: #a99;
}
.jolecule-author {
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #888;
  margin-left: 5px;
  padding: 0;
  font-weight: normal;
}
.jolecule-dialog {
  background-color: #ccc;
  padding: 10px;
  border: 2px solid #aaa;
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  display: block;
}
.jolecule-textbox {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1em;
}
.jolecule-embed-toolbar {
  padding: 5px 5px 2px 5px;
  vertical-align: middle;
  background-color: #ccc;
  color: #666;
  font-family: helvetica;
  font-size: 12px;
  letter-spacing: 0.05em;
  overflow: hidden;
  box-sizing: border-box;
}
.jolecule-embed-toolbar,
.jolecule-embed-toolbar a {
  color: #777;
  text-decoration: none;
}
.jolecule-embed-body {
  font-size: 12px;
  font-family: helvetica;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  color: #666;
}
.jolecule-embed-view {
  background-color: #ccc;
  color: #777;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  line-height: 1em;
}

.jolecule-loading-message {
  z-index: 5000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0.05em;
  padding: 5px 15px;
  background-color: rgba(180, 180, 180, 0.9);
  color: #333;
}

.jolecule-overlay-text {
  z-index: 5001;
  padding: 10px;
  opacity: 0.7;
  text-align: left;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;

  border: 1px solid #888;
  /*color: #CCC;*/
  /*background-color: #444;*/
  background-color: rgba(200, 200, 200, 0.8);
  color: #333;
}

.jolecule-overlay-text a {
  color: #447;
}
